<!-- This is now a Partial form that is linked to other files -->
<!-- Rails Helpers -->
<%= form_for @item do |f| %> 
<!-- this is like saying <form action "/items" method="POST"></form> -->
	<%= f.label :name %>
	<!-- <this is like saying label for="name">Name</label> -->
	<%= f.text_field :name %>
	<!-- <this is like saying input type="text" id="name" name="item[name]" /> -->
	<br />
	<%= f.label :description %>
	<!-- <label for="description">Description</label>-->
	<%= f.text_area :description %>
	<!-- <textarea id="description" name="item[description]"></textarea>-->
	<br />
	<%= f.label :completed %>
	<!-- <label for="completed">Completed</label>-->
	<%= f.check_box :completed %>
	<!-- <input type="checkbox" id="completed" name="item[completed]" /> -->
	<br />
	<%= f.label :priority %>
	<%= f.select :priority, [1,2,3,4,5,6,7,8,9,10] %>
	<br />
	<%= f.submit 'Create New Item' %>
	<!-- <input type="submit"> -->
<% end %>